[Unit]
Description={{ APP_NAME }}
After=network.target

[Service]
ExecStart=/usr/bin/java -jar {{ working_dir }}/{{ app_name }}.jar
ExecStop=/bin/kill $MAINPID
Restart=on-failure
User=root
WorkingDirectory={{ working_dir }}
KillMode=control-group

# Logging
StandardOutput=file:/var/log/{{ APP_NAME }}/{{ APP_NAME }}.log
StandardError=file:/var/log/{{ APP_NAME }}/{{ APP_NAME }}_error.log


[Install]
WantedBy=multi-user.target